07-09-2024 11:47:23 PM exec /usr/local/bin/python3: exec format error
07-09-2024 11:58:56 PM exec /usr/local/bin/python3: exec format error
07-10-2024 12:10:20 AM exec /usr/local/bin/python3: exec format error
07-10-2024 12:16:26 AM exec /usr/src/app/start.sh: exec format error
07-10-2024 01:11:51 AM exec /usr/src/app/start.sh: exec format error